{% extends 'basic.html' %}
{% block content %}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Welcome Admin</a>
  <a href="/allorder/" class="nabar-item" style="color:black ; text-decoration:none">All Order</a>
  <a class="btn btn-danger" href="/adminlogout/">Logout</a>
</nav>

<form action="/addpizza/" method="post">
  {% csrf_token %}
  <div class="container" style="display:block ; width:530px ; margin:auto">
    <input type="text" name="pizza" style="display:inline ; width:200px ; margin:auto" placeholder="name" class="form-control">
    <input type="text" name="price" style="display:inline ; width:200px ; margin:auto" placeholder="price" class="form-control">
    <input type="submit" name="add" class="btn btn-success" style="display:inline">
  </div>
</form>

<div class="container" style='width:50% ; display:block ; margin:auto'>
  <table style="width:50%">
    <tr>
      <th>Pizza Name</th>
      <th>Price</th>
      <th>Delete</th>
    </tr>
    {% for pizza in pizzas %}
    <tr>
      <td>{{pizza.name}}</td>
      <td>{{pizza.price}}</td>
      <td><a href="/deletepizza/{{pizza.id}}/" class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
