{% extends 'basic.html' %}
{% block content %}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Welcome {{username}}</a>
  <a href="/myorder/" class="nabar-item" style="color:black ; text-decoration:none">My Order</a>
  <a href="/userlogout/" class="btn btn-danger">Logout</a>
</nav>
{% for message in messages %}
<p style='color:green ; text-align:center'>{{message}}</p>
{% endfor %}
<form action="/placeorder/" method="POST">
  {% csrf_token %}
  <div class="container" style='margin:auto ; width:600px'>
    <table style="width:70%">
      <tr>
        <th>Pizza</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
      {% for pizza in pizzas %}
      <tr>
        <td>{{pizza.name}}</td>
        <td>{{pizza.price}}</td>
        <td><input type="number" min="0" name="{{pizza.id}}" style="width:60px"></td>
      </tr>
      {% endfor %}
    </table>
    <input style="width:400px ; margin-top:110px" type="text" name="address" placeholder="Address">
    <input type="submit" name="Placed Order" class="btn btn-outline-success" value="Placed Order">
  </div>
</form>
{% endblock %}
